.banner {
    margin-top: 0;
    padding: 150px 0 500px 0;
    background-image: url('../logos/6195005.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 30px;
    display: inline-block;
  }
  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    color: #f6f6f6;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .banner button {
    color: #f6f6f6;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #f6f6f6;
    padding: 10px;
  }

  .banner button:hover {
    background-color: #ffcb74;
    color: #2f2f2f;
    transition: 0.5s ease-out;
  }

.banner img {
    width: 350px;
    height: auto;
}

@media screen and (max-width: 767px) {
    .banner img {
        margin-top: 35px;
    }
}