.banner {
  margin-top: 0;
  padding: 250px 0 150px 0;
  background-image: url("../logos/6195005.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(21, 68, 78, 1) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 30px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #f6f6f6;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #f6f6f6;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #f6f6f6;
  padding: 10px;
  text-decoration: none;
}

.banner button:hover {
  background-color: #4c92a2;
  transition: 0.5s ease-out;
  text-decoration: none !important;
}

.button-hover {
  text-decoration: none !important;
}


.banner img {
  width: 350px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .banner img {
    margin-top: 35px;
  }
}

@media screen and (max-width: 1200px) {
  .banner {
    padding-top: 150px;
    padding-bottom: 430px;
  }
}

@media screen and (max-width: 992px) {
  .banner {
    padding-top: 150px;
    padding-bottom: 350px;
  }
}

@media screen and (max-width: 581px) {
  .banner {
    padding-top: 150px;
    padding-bottom: 300px;
  }
}
