.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.footer {
  padding: 10px;
}

@media screen and (max-width: 575px) {
  .footer p {
    text-align: center;
  }
}
